Repository ovnrain/netease-music-cloud-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.commit.json, prettier --write

Update README.md
  README.md
Due: none

format model type & request result
  src/apis.ts
  src/models.ts
  src/pages/HomePage/HomePage.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/UploadPage/UploadPage.tsx
  src/providers/UserInfoProvider.tsx
  src/rq.ts
Due: eslint --config .eslintrc.commit.json

update README
  README.md
Due: none

remove macOS minimumSystemVersion limit
  src-tauri/tauri.conf.json
Due: none

show all artist name
  src/pages/HomePage/HomePage.tsx
Due: eslint --config .eslintrc.commit.json

fix save login status
  src-tauri/tauri.conf.json
  src/utils/cookie.ts
Due: eslint --config .eslintrc.commit.json

v1.0.2
  package.json
  src-tauri/tauri.conf.json
Due: none

update gitignore
  .gitignore
Due: none

upgrade pnpm packages
  package.json
  pnpm-lock.yaml
Due: none

upgrade cargo packages
  src-tauri/Cargo.lock
Due: none

optimize code
  src/utils/cookie.ts
Due: eslint --config .eslintrc.commit.json

load cloud songs infinitely
  src/apis.ts
  src/models.ts
  src/pages/HomePage/HomePage.tsx
Due: eslint --config .eslintrc.commit.json

new Table column render props
  src/components/Table/Table.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json

show next page loading status
  src/pages/HomePage/HomePage.module.scss
  src/pages/HomePage/HomePage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

v1.0.3
  package.json
  src-tauri/tauri.conf.json
Due: none

rename model & api
  src/apis.ts
  src/models.ts
  src/pages/HomePage/HomePage.tsx
Due: eslint --config .eslintrc.commit.json

add link for songName & artist & album
  src/models.ts
  src/pages/HomePage/HomePage.module.scss
  src/pages/HomePage/HomePage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

submit match by input enter
  src/components/MatchSongModal/MatchSongModal.tsx
Due: eslint --config .eslintrc.commit.json

v1.0.4
  package.json
  src-tauri/tauri.conf.json
Due: none

config tauri fetch default options
  src/apis.ts
  src/rq.ts
Due: eslint --config .eslintrc.commit.json

m4a audio type
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json

v1.0.5
  package.json
  src-tauri/tauri.conf.json
Due: none

album image popup preview
  src/components/Trigger/Trigger.tsx
  src/pages/HomePage/HomePage.module.scss
  src/pages/HomePage/HomePage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

custom release github action
  .github/actions/action-release/.gitignore
  .github/actions/action-release/action.yml
  .github/actions/action-release/dist/index.js
  .github/actions/action-release/package.json
  .github/actions/action-release/pnpm-lock.yaml
  .github/actions/action-release/src/index.ts
  .github/actions/action-release/src/utils.ts
  .github/actions/action-release/tsconfig.json
  .github/workflows/release.yml
Due: none

vscode eslint config
  .eslintrc.json
  .lintstagedrc
  .vscode/settings.json
Due: none

update custom build action
  .github/actions/action-release/dist/index.js
  .github/actions/action-release/src/index.ts
Due: none

add changelog config
  changelog.yaml
Due: none

feat: support drop file
  src-tauri/tauri.conf.json
  src/main.tsx
  src/pages/UploadPage/UploadPage.module.scss
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

new drag select files ui
  index.html
  public/js/font_3987937_0uw2ckdw7sr.js
  public/js/font_3987937_asadl2mn7if.js
  src/pages/UploadPage/UploadPage.module.scss
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

update drag & drop ui
  src/pages/UploadPage/UploadPage.module.scss
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

fix: valid upload files check
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json

add useDisableDrop
  src/hooks/useDisableDrop.ts
  src/main.tsx
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json

v1.1.0
  changelog.yaml
  src-tauri/tauri.conf.json
Due: none

update action
  .github/workflows/release.yml
Due: none

Path conditions:
  eslint --config .eslintrc.commit.json: any of: src/**/*.{ts,tsx}
  prettier --write: any of: src/**/*.{css,scss}
