Repository ovnrain/netease-music-cloud-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.commit.json, prettier --write

optimize file buffer
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json

disable global drop event
  src/App.tsx
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json

v1.2.1
  changelog.yaml
  src-tauri/tauri.conf.json
Due: none

upgrade pnpm packages
  package.json
  pnpm-lock.yaml
Due: none

fix select file area style
  src/pages/UploadPage/UploadPage.module.scss
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

v1.2.2
  changelog.yaml
  src-tauri/tauri.conf.json
Due: none

move lint-staged config to package.json
  .lintstagedrc
  package.json
Due: none

update prettier config
  .prettierrc
  src/apis.ts
  src/components/AppMenu/AppMenu.module.scss
  src/components/ConfirmModal/ConfirmModal.module.scss
  src/components/Trigger/Trigger.tsx
  src/hooks/useValueOnChange.ts
  src/main.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/UploadPage/UploadPage.tsx
  src/rq.ts
Due: eslint --config .eslintrc.commit.json, prettier --write

update lint script
  package.json
Due: none

double quote in package.json scripts
  package.json
Due: none

use version in package.json
  package.json
  src-tauri/tauri.conf.json
Due: none

remove unnecessary router path
  src/main.tsx
Due: eslint --config .eslintrc.commit.json

fix: 优化提示, 允许上传失败后重传
  src/apis.ts
  src/pages/UploadPage/UploadPage.module.scss
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

fix: 修复链接匹配时逻辑错误的问题
  src/components/MatchSongModal/MatchSongModal.tsx
Due: eslint --config .eslintrc.commit.json

upgrade pnpm packages
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/hooks/useSetMemoryCookie.ts
  src/pages/HomePage/HomePage.tsx
  src/pages/LoginPage/LoginPage.tsx
Due: eslint --config .eslintrc.commit.json

upgrade cargo packages
  src-tauri/Cargo.lock
Due: none

Update dependencies in package.json
  package.json
  pnpm-lock.yaml
Due: none

update vscode settings
  .vscode/settings.json
Due: none

upgrade pnpm packages
  package.json
  pnpm-lock.yaml
  src/pages/HomePage/HomePage.tsx
Due: eslint --config .eslintrc.commit.json

upgrade pnpm packages
  package.json
  pnpm-lock.yaml
  src/rq.ts
Due: eslint --config .eslintrc.commit.json

update changelog
  changelog.yaml
Due: none

update release action
  .github/actions/action-release/dist/index.js
  .github/actions/action-release/src/index.ts
  .github/actions/action-release/src/utils.ts
Due: eslint --config .eslintrc.commit.json

1.2.3
  package.json
Due: none

upgrade pnpm packages
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: none

1.2.4
  package.json
Due: none

edit README
  README.md
Due: none

Path conditions:
  eslint --config .eslintrc.commit.json: any of: *.{ts,tsx}
  prettier --write: any of: *.{css,scss}
