Repository ovnrain/netease-music-cloud-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.commit.json, prettier --write

fix UserInfo type
  src/App.tsx
  src/models.ts
Due: eslint --config .eslintrc.commit.json

match cloud song
  src/apis.ts
  src/components/ConfirmModal/ConfirmModal.tsx
  src/components/Input/Input.module.scss
  src/components/Input/Input.tsx
  src/components/Input/index.ts
  src/components/MatchSongModal/MatchSongModal.module.scss
  src/components/MatchSongModal/MatchSongModal.tsx
  src/components/MatchSongModal/index.ts
  src/models.ts
  src/pages/HomePage/HomePage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

fix cloud song show info
  src/models.ts
  src/pages/HomePage/HomePage.module.scss
  src/pages/HomePage/HomePage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

update match song tip
  src/components/MatchSongModal/MatchSongModal.module.scss
  src/components/MatchSongModal/MatchSongModal.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

show upload files format
  src/models.ts
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json

fix input style
  src/components/MatchSongModal/MatchSongModal.module.scss
Due: prettier --write

edit file modal
  src/components/EditFileModal/EditFileModal.module.scss
  src/components/EditFileModal/EditFileModal.tsx
  src/components/EditFileModal/index.ts
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

fix cloud action songName
  src/pages/HomePage/HomePage.tsx
Due: eslint --config .eslintrc.commit.json

show invalid upload files tip
  index.html
  public/js/font_3987937_73i9sqj9lt.js
  public/js/font_3987937_asadl2mn7if.js
  public/js/font_3987937_byuglssel9w.js
  src/pages/UploadPage/UploadPage.module.scss
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

optimize reset file select
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json

IconFont disabled status
  src/components/IconFont/IconFont.module.scss
  src/components/IconFont/IconFont.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

update upload page files limit
  src/pages/UploadPage/UploadPage.module.scss
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

config vite chunkSizeWarningLimit
  vite.config.ts
Due: none

fix http image resources
  src/App.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/utils.ts
Due: eslint --config .eslintrc.commit.json

upgrade pnpm packages
  package.json
  pnpm-lock.yaml
Due: none

upgrade cargo packages
  src-tauri/Cargo.lock
Due: none

config rq options
  src/apis.ts
  src/rq.ts
Due: eslint --config .eslintrc.commit.json

sticky table head
  src/components/Table/Table.module.scss
  src/components/Table/Table.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

format api models
  src/apis.ts
  src/models.ts
  src/rq.ts
Due: eslint --config .eslintrc.commit.json

replace login page button
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

use react query generate qr image
  src/pages/LoginPage/LoginPage.tsx
Due: eslint --config .eslintrc.commit.json

qr login
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/apis.ts
  src/pages/LoginPage/LoginPage.tsx
  src/rq.ts
  src/utils.ts
Due: eslint --config .eslintrc.commit.json

split cookie util
  src/App.tsx
  src/components/utils/common.ts
  src/components/utils/cookie.ts
  src/pages/HomePage/HomePage.tsx
Due: eslint --config .eslintrc.commit.json

set memory cookie
  src/pages/LoginPage/LoginPage.tsx
  src/providers/UserInfoProvider.tsx
  src/rq.ts
Due: eslint --config .eslintrc.commit.json

fix utils path
  src/App.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/rq.ts
  src/utils/common.ts
  src/utils/cookie.ts
Due: eslint --config .eslintrc.commit.json

set memory cookie hook
  src/Root.tsx
  src/hooks/useSetMemoryCookie.ts
  src/providers/UserInfoProvider.tsx
Due: eslint --config .eslintrc.commit.json

fix user login redirect
  src/pages/LoginPage/LoginPage.tsx
Due: eslint --config .eslintrc.commit.json

update empty list style
  src/pages/HomePage/HomePage.module.scss
Due: prettier --write

optimize login queries
  src/pages/LoginPage/LoginPage.tsx
Due: eslint --config .eslintrc.commit.json

update delete conform content style
  src/components/ConfirmModal/ConfirmModal.tsx
  src/pages/HomePage/HomePage.module.scss
  src/pages/HomePage/HomePage.tsx
  src/pages/UploadPage/UploadPage.module.scss
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

upload music file
  src-tauri/tauri.conf.json
  src/apis.ts
  src/models.ts
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json

AppMenu component
  src/components/AppMenu/AppMenu.module.scss
  src/components/AppMenu/AppMenu.tsx
  src/components/AppMenu/index.ts
Due: eslint --config .eslintrc.commit.json, prettier --write

app logout
  src/App.tsx
Due: eslint --config .eslintrc.commit.json

new app icons
  design/icon.sketch
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
Due: none

disable app navigation on mutating
  src/App.tsx
  src/components/AppMenu/AppMenu.tsx
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json

app updater config
  .nvmrc
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

Update README.md
  README.md
Due: none

update README
  README.md
Due: none

update build config
  .gitignore
  src-tauri/tauri.conf.json
Due: none

update updater config
  package.json
  src-tauri/tauri.conf.json
Due: none

Path conditions:
  eslint --config .eslintrc.commit.json: any of: src/**/*.{ts,tsx}
  prettier --write: any of: src/**/*.{css,scss}
