Repository ovnrain/netease-music-cloud-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.commit.json, prettier --write

config nvm & npm
  .npmrc
  .nvmrc
Due: none

vscode config
  .gitignore
  .vscode/settings.json
Due: none

update npm script
  package.json
  src-tauri/tauri.conf.json
Due: none

config vite-plugin-checker
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: none

config sass & css module
  package.json
  pnpm-lock.yaml
  src/App.css
  src/App.module.scss
  src/App.tsx
  src/main.tsx
  src/styles.css
  vite.config.ts
Due: eslint --config .eslintrc.commit.json, prettier --write

update tsconfig
  tsconfig.json
Due: none

pnpm lockfileVersion 6.0
  pnpm-lock.yaml
Due: none

tauri http config
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

react router setup
  package.json
  pnpm-lock.yaml
  src/main.tsx
  src/pages/ErrorPage/ErrorPage.module.scss
  src/pages/ErrorPage/ErrorPage.tsx
  src/pages/ErrorPage/index.ts
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/pages/LoginPage/index.ts
Due: eslint --config .eslintrc.commit.json, prettier --write

upgrade cargo packages
  src-tauri/Cargo.lock
Due: none

show error page message
  src/pages/ErrorPage/ErrorPage.module.scss
  src/pages/ErrorPage/ErrorPage.tsx
  src/styles.css
Due: eslint --config .eslintrc.commit.json, prettier --write

react query setup
  package.json
  pnpm-lock.yaml
  src/main.tsx
Due: eslint --config .eslintrc.commit.json

eslint jsx-runtime
  .eslintrc.json
  src/App.tsx
  src/main.tsx
  src/pages/ErrorPage/ErrorPage.tsx
  src/pages/LoginPage/LoginPage.tsx
Due: eslint --config .eslintrc.commit.json

add IconFont & Loading components
  index.html
  package.json
  pnpm-lock.yaml
  public/js/font_3987937_byuglssel9w.js
  src/components/IconFont/IconFont.module.scss
  src/components/IconFont/IconFont.tsx
  src/components/IconFont/index.ts
  src/components/PageLoading/PageLoading.module.scss
  src/components/PageLoading/PageLoading.tsx
  src/components/PageLoading/index.ts
Due: eslint --config .eslintrc.commit.json, prettier --write

add UserInfoProvider
  src-tauri/tauri.conf.json
  src/App.tsx
  src/apis.ts
  src/contexts/UserInfoContext.ts
  src/models.ts
  src/providers/UserInfoProvider.tsx
Due: eslint --config .eslintrc.commit.json

basic qr login page
  package.json
  pnpm-lock.yaml
  src/apis.ts
  src/models.ts
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

config react-query-devtools
  package.json
  pnpm-lock.yaml
  src/main.tsx
Due: eslint --config .eslintrc.commit.json

config window size
  src-tauri/tauri.conf.json
Due: none

update qr login page
  src/apis.ts
  src/models.ts
  src/pages/LoginPage/LoginPage.module.scss
  src/pages/LoginPage/LoginPage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

config eslint-plugin-query
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: none

config vscode typescript sdk
  .vscode/settings.json
Due: none

fix typo
  src/models.ts
  src/pages/LoginPage/LoginPage.tsx
Due: eslint --config .eslintrc.commit.json

disable login interval when invalid
  src/pages/LoginPage/LoginPage.tsx
Due: eslint --config .eslintrc.commit.json

refactor: use rq util
  src/apis.ts
  src/rq.ts
  src/vite-env.d.ts
Due: eslint --config .eslintrc.commit.json

add cloud list api
  src/apis.ts
  src/models.ts
Due: eslint --config .eslintrc.commit.json

nest Root
  src/App.tsx
  src/Root.tsx
  src/main.tsx
Due: eslint --config .eslintrc.commit.json

update pages
  src/App.module.scss
  src/App.tsx
  src/hooks/useUserInfo.ts
  src/main.tsx
  src/pages/HomePage/HomePage.module.scss
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/index.ts
  src/pages/UploadPage/UploadPage.module.scss
  src/pages/UploadPage/UploadPage.tsx
  src/pages/UploadPage/index.ts
  src/styles.css
Due: eslint --config .eslintrc.commit.json, prettier --write

update app main color
  src/components/PageLoading/PageLoading.module.scss
  src/pages/LoginPage/LoginPage.module.scss
Due: prettier --write

upgrade pnpm packages
  package.json
  pnpm-lock.yaml
Due: none

basic upload page
  package.json
  pnpm-lock.yaml
  src-tauri/tauri.conf.json
  src/apis.ts
  src/main.tsx
  src/models.ts
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json

basic upload songs
  package.json
  pnpm-lock.yaml
  src/apis.ts
  src/models.ts
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json

add CloudTable component
  package.json
  pnpm-lock.yaml
  src/components/CloudTable/CloudTable.module.scss
  src/components/CloudTable/CloudTable.tsx
  src/components/CloudTable/index.ts
  src/pages/HomePage/HomePage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

update app
  index.html
  package.json
  pnpm-lock.yaml
  public/js/font_3987937_73i9sqj9lt.js
  src-tauri/tauri.conf.json
  src/App.module.scss
  src/App.tsx
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/CloudTable/CloudTable.module.scss
  src/components/CloudTable/CloudTable.tsx
  src/components/CloudTable/index.ts
  src/components/Table/Table.module.scss
  src/components/Table/Table.tsx
  src/components/Table/index.ts
  src/main.tsx
  src/models.ts
  src/pages/HomePage/HomePage.module.scss
  src/pages/HomePage/HomePage.tsx
  src/pages/UploadPage/UploadPage.module.scss
  src/pages/UploadPage/UploadPage.tsx
  src/styles.css
Due: eslint --config .eslintrc.commit.json, prettier --write

use ConfirmModal
  package.json
  pnpm-lock.yaml
  src/components/ConfirmModal/ConfirmModal.module.scss
  src/components/ConfirmModal/ConfirmModal.tsx
  src/components/ConfirmModal/index.ts
  src/components/Trigger/Trigger.module.scss
  src/components/Trigger/Trigger.tsx
  src/components/Trigger/index.ts
  src/hooks/useValueOnChange.ts
  src/pages/HomePage/HomePage.tsx
  src/pages/UploadPage/UploadPage.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

Button type & size props
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

use Button in ConfirmModal
  src/components/ConfirmModal/ConfirmModal.module.scss
  src/components/ConfirmModal/ConfirmModal.tsx
Due: eslint --config .eslintrc.commit.json, prettier --write

delete cloud song
  src/apis.ts
  src/models.ts
  src/pages/HomePage/HomePage.tsx
Due: eslint --config .eslintrc.commit.json

delete cloud song toast
  package.json
  pnpm-lock.yaml
  src/apis.ts
  src/main.tsx
  src/pages/HomePage/HomePage.tsx
Due: eslint --config .eslintrc.commit.json

Path conditions:
  eslint --config .eslintrc.commit.json: any of: src/**/*.{ts,tsx}
  prettier --write: any of: src/**/*.{css,scss}
